# Qt Creator
*.autosave

# Qt Creator Qml
*.qmlproject.user
*.qmlproject.user.*

# Qt Creator Python
*.pyproject.user
*.pyproject.user.*

# Qt Creator C++
*.pro.user
*.pro.user.*

# Qt Creator CMake
CMakeLists.txt.user*

# VS Code
.vscode/

# PyCharm
.idea/

# Fortran
fort.1

# Python
__pycache__
.venv
.coverage
.pyc

# Poetry
dist
*.egg-info

# PyInstaller
build
*.spec

# Jupyter
.ipynb_checkpoints

# macOS
.DS_Store
*.app
*.dmg

# Misc
..*
*.log
*.zip
settings.ini*
temp.cif
.ci/
